    @charset "UTF-8";
    @import url('https://fonts.googleapis.com/etc...');
    @font-face { } 
    h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }  
 
    body {
        backgro-und-color: rgb(253, 255 , 228);
        color: rgba(0, 0, 0, 1);
        font-family: Arial, sans-serif;
    }    
    div#interface {
        width: 900px;
        background-color: rgb(255, 255, 255);
        margin: -7px auto 20px auto;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, .5);
        padding: 20px 10px 10px 10px;
    }    
    p {
        text-align: justify;
        text-indent: 50px;
        font-size: 12pt;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }    
    a {
        color: #606060;
        text-decoration: none;
    }    
    a:hover {
        text-decoration: underline;
    }    
    header#cabecalho img#icone {
        position: absolute;
        left: 780px;
        top: 20px;
    }    
    header#cabecalho {
        border-bottom: 2px black double;
        height: 150px;
        background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
    }    
    header#cabecalho h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30pt;
        color: #606060;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
        padding: 0px;
        margin-bottom: 0px;
    }    
    header#cabecalho h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #888888;

        font-size: 15pt;
        padding: 0px;
        margin-top: 0px;
    }
    figure.foto-legenda {
        position: relative;
        border: 8px solid white;
        box-shadow: 10px 10px 20px black;
    }    
    /* Formatacção de imagens com legenda */    
    figure.foto-legenda img {
        width: 100%;
        height: 100%;
    }    
    figure.foto-legenda figcaption {
        opacity: 0;
        position: absolute;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    /* Efeito ao passar o mouse */    
    figure.foto-legenda:hover figcaption {
        opacity: 1;
    }
    /* Formatação do Menu */    
    nav#menu {
        display: block;
    }    
    nav#menu ul {
        position: absolute;
        top: -20px;
        left: 300px;
        list-style: none;
        text-transform: uppercase;
    }    
    nav#menu li {
        display: inline-block;
        background-color: #dddddd;
        padding: 5px;
        margin: 2px;
        transition: background-color 2.5s;
    }    
    nav#menu li:hover {
        background-color: #606060;
    }
    /* Esconder h1 */    
    nav#menu h1 {
        display: none;
    }    
    nav#menu a {
        color: #000000;
        text-decoration: none;
    }
        /* efeito para click do mouse qndo ativo */    
    nav#menu a:hover {
        color: #ffffff;
    }    
    section#corpo {
        display: block;
        width: 500px;
        float: left;
        border-right: 1px solid #606060;
        padding-right: 15px;
    }    
    footer#rodape {
        clear: both;
        border-top: 1px solid #606060;
    }    
    footer#rodape p {
        text-align: center;
    }    
    table#tabela {
        border-spacing: 0px;
        border: 1px solid #606060;
        margin-left: auto;
        margin-right: auto;
    }    
    table#tabela td {
        border: 1px solid #606060;
        padding: 10px;
        text-align: center;
        vertical-align: top;
    }    
    table#tabela td.ce {
        color: white;
        background-color: #606060;
        text-align: right;
        vertical-align: top;
        font-weight: bold;
    }    
    table#tabela td.cd {
        background-color: #888888;
        text-align: left;
    }    
    table#tabela caption {
        color: #888888;
        font-size: 13pt;
        font-weight: bolder;
    }    
    table#tabela caption span {
        display: block;
        float: right;
        color: #000000;
        font-size: 8pt;
        margin-top: 10px;
    }    
    article#noticia h2 {
        font-size: 12pt;
        color: #606060;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
        margin: 10px 0px 10px 0px;
    }    
    header#cabecalho-artigo h1 {
        font-family: 'FonteLogo', sans-serif;
        font-size: 20pt;
        color: #606060;
        margin-bottom: 0px;
        margin-top: 0px;
    }    
    header#cabecalho-artigo h2 {
        font-size: 13pt;
        text-shadow: 2px 2px 2px;
        color: #cecece;
        background-color: #eb4242;
        margin: 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }    
    header#cabecalho-artigo h3 {
        font-size: 12;
        color: #606060;
    }    
    .direita {
        text-align: right;
    }    
    aside#lateral h1 {
        font-family: 'Fontelogo', sans-serif;
        font-size: 20pt;
        color: #606060;
        margin-top: 0px;
    }    
    aside#lateral h2 {
        background-color: #606060;
        font-size: 13pt;
        color: #ffffff;
        padding: 10px;
    }    
    aside#lateral {
        display: block;
        width: 350px;
        float: right;
        padding: 10px;
        background-color: #dddddd;
        margin-top: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    }
    div#vid {
        width: 200px;
        height: 200px;
    }
    video#foot {
        width: 100px;
    }
    video#inde {
        width: 200px;
    }